<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="safisoft.roboboy">

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />

    <application
        android:name=".ApplicationEx"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.RoboDuck">
        <activity
            android:name=".SerialMonitorControlActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditVoiceControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VoiceControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RotationControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditButtonsControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditRotationControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartNewProjectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewProjectChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindBluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ButtonsControlActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5637187199850424~9385085952" />
    </application>

</manifest>